# Stock Alpha & Beta

Alpha is a measurement of performance. A positive alpha of 1.0 means the fund or stock has outperformed its benchmark index by 1 percent. A negative alpha of 1.0 would indicate an underperformance of 1 percent.

Beta is a measurement of volatile. A beta of less than 1 means that the security will be less volatile than the market.

In [12]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# fix_yahoo_finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [13]:
# input
ticker = "IIPR"
spx = "^GSPC"
start = '2014-01-01'
end = '2020-03-18'

# Read data 
stock = yf.download(ticker,start,end)
market = yf.download(spx, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
# View columns 
stock.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2016-12-01  20.250000  20.520000  19.000000  19.150000  17.512951  1191200
2016-12-02  19.190001  19.500000  18.280001  18.450001  16.872791   299400
2016-12-06  15.940000  16.954000  15.450000  16.650000  15.226665   346200
2016-12-07  17.610001  17.610001  16.650000  16.889999  15.446147   244500
2016-12-08  16.889999  17.299999  16.683001  17.200001  15.729647   109700

In [15]:
# View columns 
market.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-01-02,1845.859985,1845.859985,1827.739990,1831.979980,1831.979980,3080600000
2014-01-03,1833.209961,1838.239990,1829.130005,1831.369995,1831.369995,2774270000
2014-01-06,1832.310059,1837.160034,1823.729980,1826.770020,1826.770020,3294850000
2014-01-07,1828.709961,1840.099976,1828.709961,1837.880005,1837.880005,3511750000
2014-01-08,1837.900024,1840.020020,1831.400024,1837.489990,1837.489990,3652140000

In [16]:
prices = stock['Adj Close']
values = market['Adj Close']

In [17]:
#ret = prices.pct_change(1)[1:]
#ret = np.log(prices/prices.shift(1))
ret = (np.log(prices) - np.log(prices.shift(1))).dropna()

In [18]:
ret.head()

Date
2016-12-02   -0.037238
2016-12-06   -0.102654
2016-12-07    0.014311
2016-12-08    0.018188
2016-12-09   -0.014641
Name: Adj Close, dtype: float64

In [19]:
mrk = values.pct_change(1).dropna()

In [20]:
mrk.head()

Date
2014-01-03   -0.000333
2014-01-06   -0.002512
2014-01-07    0.006082
2014-01-08   -0.000212
2014-01-09    0.000348
Name: Adj Close, dtype: float64

In [21]:
from scipy import stats

beta, alpha, r_value, p_value, std_err = stats.linregress(ret, mrk)

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 825 and the array at index 1 has size 1561

In [ ]:
print("Beta: 			%9.6f" % beta)
print("Alpha: 			%9.6f" % alpha)
print("R-Squared: 		%9.6f" % r_value)
print("p-value: 		%9.6f" % p_value)
print("Standard Error: 	%9.6f" % std_err)