# Fundamental Analysis in Python

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [74]:
symbol = 'NI'
stock = yf.Ticker(symbol)

In [75]:
stock.info

{'zip': '46410',
 'sector': 'Utilities',
 'fullTimeEmployees': 8363,
 'longBusinessSummary': 'NiSource Inc., an energy holding company, operates as a regulated natural gas and electric utility company in the United States. The company operates through two segments, Gas Distribution Operations and Electric Operations. It provides natural gas service and transportation for residential, commercial, and industrial customers; generates, transmits, and distributes electricity; and wholesale and transmission transaction services. The company owns and operates two coal-fired electric generating stations with a capacity of 2,080 megawatts (MW); combined cycle gas turbine with a capacity of 571 MW; three gas-fired generating units with a capacity of 186 MW; and two hydroelectric generating plants with a capacity of 10 MW. It serves approximately 3.5 million natural gas customers in Ohio, Pennsylvania, Virginia, Kentucky, Maryland, and Massachusetts; and 476,000 electricity customers in the northern part of Indiana. The company was formerly known as NIPSCO Industries, Inc. and changed its name to NiSource Inc. in April 1999. NiSource Inc. was founded in 1847 and is headquartered in Merrillville, Indiana.',
 'city': 'Merrillville',
 'phone': '877-647-5990',
 'state': 'IN',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.nisource.com',
 'maxAge': 1,
 'address1': '801 East 86th Avenue',
 'industry': 'Utilitiesâ€”Regulated Gas',
 'previousClose': 24.94,
 'regularMarketOpen': 24.95,
 'twoHundredDayAverage': 23.382572,
 'trailingAnnualDividendYield': 0.033680834,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 24.98,
 'navPrice': None,
 'averageDailyVolume10Day': 2777825,
 'totalAssets': None,
 'regularMarketPreviousClose': 24.94,
 'fiftyDayAverage': 23.75111,
 'trailingAnnualDividendRate': 0.84,
 'open': 24.95,
 'toCurrency': None,
 'averageVolume10days': 2777825,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.84,
 'exDividendDate': 1603929600,
 'beta': 0.231116,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 24.555,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 1830283,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 9541979136,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 3295993,
 'priceToSalesTrailing12Months': 1.960184,
 'dayLow': 24.555,
 'ask': 24.99,
 'ytdReturn': None,
 'askSize': 2900,
 'volume': 1830283,
 'fiftyTwoWeekHigh': 30.46,
 'forwardPE': 18.444445,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 2.9699999999999998,
 'fiftyTwoWeekLow': 19.56,
 'bid': 24.71,
 'tradeable': False,
 'dividendYield': 0.0337,
 'bidSize': 1300,
 'dayHigh': 24.98,
 'exchange': 'NYQ',
 'shortName': 'NiSource Inc',
 'longName': 'NiSource Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'NI',
 'messageBoardId': 'finmb_53839770',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.355,
 'beta3Year': None,
 'profitMargins': -0.049569998000000004,
 'enterpriseToEbitda': 11.755,
 '52WeekChange': -0.0586012,
 'morningStarRiskRating': None,
 'forwardEps': 1.35,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 383212000,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 11.863,
 'sharesShort': 3725658,
 'sharesPercentSharesOut': 0.0097,
 'fundFamily': None,
 'lastFiscalYearEnd': 1577750400,
 'heldPercentInstitutions': 0.9744100000000001,
 'netIncomeToCommon': -296400000,
 'trailingEps': -0.776,
 'lastDividendValue': 0.21,
 'SandP52WeekChange': 0.15557885,
 'priceToBook': 2.0989633,
 'heldPercentInsiders': 0.0036600000000000005,
 'nextFiscalYearEnd': 1640908800,
 'mostRecentQuarter': 1601424000,
 'shortRatio': 1.18,
 'sharesShortPreviousMonthDate': 1602720000,
 'floatShares': 381560548,
 'enterpriseValue': 21197283328,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1435795200,
 'lastSplitFactor': '2545:1000',
 'legalType': None,
 'lastDividendDate': 1603929600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'dateShortInterest': 1605225600,
 'pegRatio': 11,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.013099999000000001,
 'sharesShortPriorMonth': 4977757,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 24.95,
 'logo_url': 'https://logo.clearbit.com/nisource.com'}

In [76]:
stock.history(period='1mo')

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2020-10-26  23.91  24.07  23.73  24.03  2611700       0.00             0
2020-10-27  24.04  24.30  23.92  24.04  3312400       0.00             0
2020-10-28  23.73  24.08  22.91  22.97  4575900       0.00             0
2020-10-29  22.84  23.23  22.48  22.96  3324200       0.21             0
2020-10-30  22.90  23.12  22.65  22.97  3603900       0.00             0
2020-11-02  23.22  23.60  22.95  23.45  3082900       0.00             0
2020-11-03  23.79  24.26  23.64  24.03  2863700       0.00             0
2020-11-04  23.95  24.35  23.56  23.65  4166500       0.00             0
2020-11-05  23.84  24.22  23.64  23.65  3431500       0.00             0
2020-11-06  23.62  23.85  23.19  23.22  3809400       0.00             0
2020-11-09  24.24  24.99  24.09  24.11  4572600       0.00             0
2020-11-10  24.24  25.12  24.11  25.07  4389600       0.00             0
2020-11-11  25.17  25.21  24.53  24.64  3018000       0.00             0
2020-11-12  24.51  24.51  23.69  23.87  2842600       0.00             0
2020-11-13  23.99  24.50  23.89  24.47  2518000       0.00             0
2020-11-16  24.92  24.92  24.42  24.62  3528000       0.00             0
2020-11-17  24.38  25.05  24.34  24.75  3132400       0.00             0
2020-11-18  25.04  25.12  23.93  23.96  2450000       0.00             0
2020-11-19  23.86  23.93  23.46  23.60  1795500       0.00             0
2020-11-20  23.57  24.00  23.50  23.90  2645100       0.00             0
2020-11-23  23.92  24.47  23.87  24.31  3207400       0.00             0
2020-11-24  24.52  25.29  24.34  24.94  3415100       0.00             0
2020-11-25  24.95  24.98  24.56  24.90  2049100       0.00             0

In [77]:
stock.history(period="max")

             Open   High    Low  Close     Volume  Dividends  Stock Splits
Date
1973-02-21   0.00   0.90   0.90   0.90    34100.0        0.0           0.0
1973-02-22   0.00   0.88   0.88   0.88    20800.0        0.0           0.0
1973-02-23   0.00   0.89   0.89   0.89    55900.0        0.0           0.0
1973-02-26   0.00   0.88   0.88   0.88    17300.0        0.0           0.0
1973-02-27   0.00   0.88   0.88   0.88     8600.0        0.0           0.0
...           ...    ...    ...    ...        ...        ...           ...
2020-11-19  23.86  23.93  23.46  23.60  1795500.0        0.0           0.0
2020-11-20  23.57  24.00  23.50  23.90  2645100.0        0.0           0.0
2020-11-23  23.92  24.47  23.87  24.31  3207400.0        0.0           0.0
2020-11-24  24.52  25.29  24.34  24.94  3415100.0        0.0           0.0
2020-11-25  24.95  24.98  24.56  24.90  2049100.0        0.0           0.0

[12051 rows x 7 columns]

In [78]:
df = stock.history(period="max")

In [79]:
df.head()

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
1973-02-21   0.0  0.90  0.90   0.90  34100.0        0.0           0.0
1973-02-22   0.0  0.88  0.88   0.88  20800.0        0.0           0.0
1973-02-23   0.0  0.89  0.89   0.89  55900.0        0.0           0.0
1973-02-26   0.0  0.88  0.88   0.88  17300.0        0.0           0.0
1973-02-27   0.0  0.88  0.88   0.88   8600.0        0.0           0.0

In [80]:
df.tail()

             Open   High    Low  Close     Volume  Dividends  Stock Splits
Date
2020-11-19  23.86  23.93  23.46  23.60  1795500.0        0.0           0.0
2020-11-20  23.57  24.00  23.50  23.90  2645100.0        0.0           0.0
2020-11-23  23.92  24.47  23.87  24.31  3207400.0        0.0           0.0
2020-11-24  24.52  25.29  24.34  24.94  3415100.0        0.0           0.0
2020-11-25  24.95  24.98  24.56  24.90  2049100.0        0.0           0.0

In [81]:
stock.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [82]:
IC = stock.financials[stock.financials.columns[::-1]] # Reverse Column

In [83]:
IC

Empty DataFrame
Columns: [Volume, Adj Close, Close, Low, High, Open]
Index: []

IC.loc['Net Income Applicable To Common Shares']

# Change Data object to float
NI = IC.loc['Net Income Applicable To Common Shares'].astype(float)

In [84]:
plt.plot(NI)
plt.xlabel('Date')
plt.ylabel('Price in millions')
plt.title('Net Income in Yearly')

NameError: name 'NI' is not defined

In [ ]:
stock.balancesheet

In [ ]:
BS = stock.balancesheet.iloc[:,::-1] # Reverse Column

In [ ]:
BS

In [ ]:
BS.loc['Retained Earnings']

In [ ]:
CR = BS.loc['Total Current Assets'].astype(int) / BS.loc['Total Current Liabilities'].astype(int)
CR

In [ ]:
stock.cashflow

In [ ]:
CF = stock.cashflow.loc[::,::-1] # Reverse Column

In [ ]:
CF

## Ratio Analysis

### Short term solvency ratios

In [ ]:
print('Short term solvency ratios')
print('-'*40)
print('Current Ratio')
CR = BS.loc['Total Current Assets'].astype(int) / BS.loc['Total Current Liabilities'].astype(int) # Total Current Assets/Total Current Liabilities
print(CR,"\n")
print('Quick Ratio')
QR = (BS.loc['Total Current Assets'].astype(int) - BS.loc['Inventory'].astype(int)) / BS.loc['Total Current Liabilities'].astype(int) # (Total Current Assets-Inventory)/Total Current Liabilities
print(QR,"\n")
print('Cash Ratio')
CashR = (BS.loc['Cash And Cash Equivalents'].astype(int) - BS.loc['Short Term Investments'].astype(int)) / BS.loc['Total Current Liabilities'].astype(int) # (Cash And Cash Equivalents + Short Term Investments + Intangible Assets)/ Total Current Liabilities)
print(CashR,"\n")
print('Networking Capital to Current Liabilities')
NCCL = (BS.loc['Total Current Assets'].astype(int) - BS.loc['Total Current Liabilities'].astype(int)) / BS.loc['Total Current Liabilities'].astype(int) # (Total Current Assets - Total Current Liabilities)/Total Current Liabilities)
print(NCCL,"\n")

### Asset Utilization or Turnover ratios

In [ ]:
print('Asset Utilization or Turnover ratios')
print('-'*40)
print('Average Collection Period')
ACP = BS.loc['Net Receivables'].astype(int) / (IC.loc['Total Revenue'].astype(int)/360) # Net Receivables/(Total Revenue/360)
print(ACP,"\n")
print('Inventory Turnover Ratios')
ITR = IC.loc['Total Revenue'].astype(int) / BS.loc['Inventory'].astype(int)# Total Revenue / Inventory
print(ITR,"\n")                                             
print('Receivable Turnover')
RT = IC.loc['Total Revenue'].astype(int)/BS.loc['Net Receivables'].astype(int) # Total Revenue / Net Receivables
print(RT,"\n")                                                     
print('Fixed Asset Turnover')
FAT = IC.loc['Total Revenue'].astype(int)/BS.loc['Net Receivables'].astype(int) # Total Revenue / Property, plant and equipment
print(FAT,"\n")   
print('Total Asset Turnover')                                             
TAT = IC.loc['Total Revenue'].astype(int)/BS.loc['Total Assets'].astype(int)# Total Revenue / Total Assets
print(TAT,"\n")

### Financial Leverage ratios

In [ ]:
print('Financial Leverage ratios')
print('-'*40)
print('Total Debt Ratio')
TDR = BS.loc['Total Liabilities'].astype(int) / BS.loc['Total Assets'].astype(int) # Total Liabilities / Total Assets
print(TDR,"\n")
print('Debt/Equity')
DE = BS.loc['Total Liabilities'].astype(int) / BS.loc["Total stockholders' equity"].astype(int) # Total Liabilities / Total stockholders' equity
print(DE,"\n")
print('Equity Ratio')
ER = BS.loc["Total stockholders\' equity"].astype(int) / BS.loc['Total Assets'].astype(int) # Total stockholders' equity / Total Assets
print(ER,"\n")
print('Long-term Debt Ratio')
LTDR = BS.loc['Long Term Debt'].astype(int) / BS.loc['Total Assets'].astype(int) # Long Term Debt / Total Assets
print(LTDR,"\n") 
print('Times Interest Earned Ratio')
TIER = IC.loc['Earnings Before Interest and Taxes'].astype(int) / IC.loc['Interest Expense'].astype(int) # Earnings Before Interest and Taxes / Interest Expense
print(TIER,"\n")

### Profitability ratios

In [ ]:
print('Profitability ratios')
print('-'*40)
print('Gross Profit Margin')
GPM = IC.loc['Gross Profit'].astype(int) / IC.loc['Total Revenue'].astype(int) # Gross Profit / Total Revenue
print(GPM,"\n") 
print('Net Profit Margin')
NPM = IC.loc['Net Income Applicable To Common Shares'].astype(int) / IC.loc['Total Revenue'].astype(int) # Net Income / Total Revenue
print(NPM,"\n") 
print('Return on Assets (ROA)')
ROA = IC.loc['Net Income Applicable To Common Shares'].astype(int) / BS.loc['Total Assets'].astype(int) # Net Income / Total Assets
print(ROA,"\n") 
print('Return on Equity (ROE)')
ROE = IC.loc['Net Income Applicable To Common Shares'].astype(int) / BS.loc['Total stockholders\' equity'].astype(int) # Net Income / Total Equity
print(ROE,"\n") 
print('Earning Per Share (EPS)')
EPS = IC.loc['Net Income Applicable To Common Shares'].astype(int) / (BS.loc['Common Stock'].astype(int) - BS.loc['Treasury Stock'].astype(int)) # Net Income / (Common Stock - Treasury Stock)
print(EPS,"\n")