# Stock Alpha & Beta

Alpha is a measurement of performance. A positive alpha of 1.0 means the fund or stock has outperformed its benchmark index by 1 percent. A negative alpha of 1.0 would indicate an underperformance of 1 percent.

Beta is a measurement of volatile. A beta of less than 1 means that the security will be less volatile than the market.

In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# fix_yahoo_finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [2]:
# input
ticker = "SPXL"
spx = "^GSPC"
start = '2017-01-01'
end = '2020-03-18'

# Read data 
stock = yf.download(ticker,start,end)
market = yf.download(spx, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
# View columns 
stock.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2017-01-03  27.467501  27.745001  27.049999  27.507500  25.979057  3557200
2017-01-04  27.652500  28.077499  27.652500  27.995001  26.439470  3548800
2017-01-05  27.907499  28.017500  27.615000  27.930000  26.378078  3352000
2017-01-06  28.002501  28.437500  27.764999  28.245001  26.675579  3386800
2017-01-09  28.132500  28.187500  27.947500  27.977501  26.422941  1995600

In [4]:
# View columns 
market.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,2251.570068,2263.879883,2245.129883,2257.830078,2257.830078,3770530000
2017-01-04,2261.600098,2272.820068,2261.600098,2270.750000,2270.750000,3764890000
2017-01-05,2268.179932,2271.500000,2260.449951,2269.000000,2269.000000,3761820000
2017-01-06,2271.139893,2282.100098,2264.060059,2276.979980,2276.979980,3339890000
2017-01-09,2273.590088,2275.489990,2268.899902,2268.899902,2268.899902,3217610000

In [5]:
prices = stock['Adj Close']
values = market['Adj Close']

In [6]:
#ret = prices.pct_change(1)[1:]
#ret = np.log(prices/prices.shift(1))
ret = (np.log(prices) - np.log(prices.shift(1))).dropna()

In [7]:
ret.head()

Date
2017-01-04    0.017567
2017-01-05   -0.002325
2017-01-06    0.011215
2017-01-09   -0.009516
2017-01-10   -0.000894
Name: Adj Close, dtype: float64

In [8]:
mrk = values.pct_change(1).dropna()

In [9]:
mrk.head()

Date
2017-01-04    0.005722
2017-01-05   -0.000771
2017-01-06    0.003517
2017-01-09   -0.003549
2017-01-10    0.000000
Name: Adj Close, dtype: float64

In [10]:
from scipy import stats

beta, alpha, r_value, p_value, std_err = stats.linregress(ret, mrk)

In [11]:
print("Beta: 			%9.6f" % beta)
print("Alpha: 			%9.6f" % alpha)
print("R-Squared: 		%9.6f" % r_value)
print("p-value: 		%9.6f" % p_value)
print("Standard Error: 	%9.6f" % std_err)

Beta: 			 0.321047
Alpha: 			 0.000206
R-Squared: 		 0.994526
p-value: 		 0.000000
Standard Error: 	 0.001190